mixin forgotForm()
  form.form(action="/account/forgot" method="POST")
    h2 I forgot my password
    label(for="email-forgot") Email Address
    input(type="email" name="email" id="email-forgot" class="form__last-field" required)
    input.button(type="submit" value="Send a Reset")
